{% extends "layout.html" %} {% block content %}
<div class="timeline">
  <div class="my-profile">
    <h2>My Profile</h2>
    <div class="input-group">
      <label for="update-email">email</label>
      <input
        type="text"
        name="update-email"
        id="update-email"
        placeholder="{{user.email}}"
        readonly
      />
    </div>
    <div class="input-group">
      <label for="update-nick">nickname</label>
      <input type="text" name="nick" id="update-nick" placeholder="{{user.nick}}" />
    </div>
    <div class="input-group">
      <label for="update-password">password</label>
      <input type="password" name="password" id="update-password" />
    </div>
    <button id="update-btn" type="submit" class="btn">Update</button>
  </div>
  <div class="followings half">
    <h2>Following List</h2>
    {% if user.Followings %} {% for following in user.Followings %}
    <div>{{following.nick}}</div>
    {% endfor %} {% endif %}
  </div>
  <div class="follwers half">
    <h2>Follower List</h2>
    {% if user.Followers %} {% for follower in user.Followers %}
    <div>{{follower.nick}}</div>
    {% endfor %} {% endif %}
  </div>
</div>
<script>
  btn = document.querySelector("#update-btn");
  btn.addEventListener("click", function () {
    const myId = document.querySelector("#my-id");
    const nick = document.querySelector("#update-nick").textContent;
    const password = document.querySelector("#update-password").textContent;
    console.log(nick, password);
    if (myId) {
      if (confirm("Do you wanna update your profile?")) {
        axios
          .post(`/user/${myId}/profile`, {
            nick,
            password,
          })
          .then(() => {
            location.reload();
          })
          .catch((err) => {
            console.error(err);
          });
      }
    }
  });
</script>
{% endblock %}
